doctype html
html(ng-app="app.directives")
  head
    meta(charset="utf-8")
    title Angular Law Easy Read
    link(rel="stylesheet" href="//g0v.github.io/laweasyread-front/stylesheets/main.css")
  body
    button(ng-click="$broadcast('LER:toggle')") 切
    button(ng-click="$broadcast('LER:toggle', true)") 開
    button(ng-click="$broadcast('LER:toggle', false)") 關
    p(law-easy-read) 九十四年一月七日刑法修正時，刑法分則編未修正之條文定有罰金者，自九十四年一月七日刑法修正施行後，就其所定數額提高為三十倍。但七十二年六月二十六日至九十四年一月七日新增或修正之條文，就其所定數額提高為三倍。
    p(togglable-law-easy-read enabled="true" ng-click="enabled = !enabled") 按婚約為男女當事人約定將來應互相結婚之契約，非由男女當事人自行訂定，不生效力；次按公證法施行細則第四十三條第一項亦規定：「舉行公証結婚典禮時，請求公証結婚之男女當事人及証人，應攜帶身分證明文件親自到場，並在公證結婚證書上簽名」；
    p(togglable-law-easy-read enabled="true" ng-click="enabled = !enabled") 再參以民法第九百八十條、第九百七十二條及第九百七十三條規定，均係以男女為規範對象，顯見我國現行民法親屬篇婚姻章所規定之結婚應以一男一女為限。茲抗告人請求與林建中兩男間之公証結婚，自屬違反法令之事項，依公證法第七十條規定，自不得作成公證書，原法院公証處所為拒絕抗告人請求公証結婚之處分，自無不當，從而原法院據以裁定駁回抗告人所為之異議，核無違誤。抗告論旨仍執前詞指摘原裁定不當，求予廢棄，為無理由。
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js")
    script(src="/angular-laweasyread.js")
